h1{
	text-align:center;
	margin-top:80px;
}
section{
	min-width:400px;
	float:left;
	display:inline-block;
	width:30%;
}
.show-add-form{
	width:150px;
	margin-top:20px;
	margin-left:20px;
	margin-bottom:10px;
	padding-left:20px;
	padding-right:20px;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
	background-color:#00FF00;
}
button,input,textarea{
	outline:none;
	border:none;
}
.show-add-form:focus .add-track{
	display:block;
}
.button{
	background-color:#CDC9C9;
	height:30px;
	width:100px;
	text-align:center;
}
section input::-webkit-input-placeholder { color: red; }
.button:hover{
	background-color:#00FF00;
}
section input{
	color:black;
	margin-top:10px;
}
form input:hover{
	background-color:#CDC9C9;	
}
#add-track{
	margin-left:30px;
}
aside{
	display:inline-block;
	float:right;
	width:70%;
	min-width:500px;
	text-align:center;
}
#remove-track{
	margin-left:30px;
}
textarea{
	margin-top:20px;
}
#edit-track{
	margin-left:30px;
}
#ban-user{
	margin-left:30px;
}
#unban-user{
	margin-left:30px;
}
#assign-discount{
	margin-left:30px;
}
.users-list{
	height:300px;
	overflow:auto;
	min-width:400px;
}	
.track-list{
	height:300px;
	overflow:auto;
	min-width:400px;
}	