body,button, input, optgroup, select, textarea {
	font-family: 'FF Meta Serif','Comic Sans MS';
}
body{
	background-color: #696969;
	color: white;
}
header{
	background-color: #1C1C1C;
	height:70px;
	position:fixed;
	width:100%;
	top:0px;
}
.logo{
	float:left;
	height:100%;
	width:auto;
}
.dropimg{
	display:none;
}
.navigation {
  display:inline;
  list-style: none;
  padding: 0;
  margin: 0;
}
.navigation li {
  float: left;
  height:100%;
  width:auto;
}
.navigation li:hover {
  background: #222;
}
.navigation li:first-child {
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 0 0 5px;
}
.navigation li a {
  display: block; 
  padding: 0 20px;
  text-decoration: none;
  line-height:70px; 
  color: #fff;
}
.navigation ul {
  display: none;
  position: absolute;
  list-style: none;
  margin-left: -3px;
  padding: 0;
  overflow: hidden;
}
.navigation ul li {
  float: none;
}
.navigation li:hover > ul {
  display: block;
  background: #222;
  border: solid 3px #fff;
  border-top: 0;
  -webkit-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
  -webkit-box-shadow:  0px 3px 3px 0px rgba(0, 0, 0, 0.25);
  box-shadow:  0px 3px 3px 0px rgba(0, 0, 0, 0.25);
}
.navigation li:hover > ul li:hover {
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.navigation li li a:hover {
  background: #000;
}
.navigation ul li:last-child a,
.navigation ul li:last-child a:hover {
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
::-moz-placeholder  {
	color:white;
}
:-moz-placeholder   {
	color:white;
}
:-ms-input-placeholder  {
	color:white;
}
::-webkit-input-placeholder {
	color:white;
}
.sign-up{
	float:right;
	line-height:30px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}
.login{
	float:right;
	line-height:30px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
	
}
.login:hover{
	background-color:#4CAF50;
}
.sign-up:hover{
	background-color:#4CAF50;
}
.footer{
	display:inline-block;
	height:80px;
	width:100%;
	background-color:#1C1C1C;
	color:#EEEEE0;
	font-family:'Times New Roman', serif;
	text-align:center;
	left: 0;
    bottom: 0;
}
.user-img{
	height:70px;
	width:auto;
	float:right;
	position:relative;
}
.profile-button{
	float:right;
	height:70px;
	width:auto;
	text-align:center;
	background-color:#1C1C1C;
	outline: none;
	color:white;
	border:none;
}
.profile-button:hover{
	background-color:#222;
}
.profile-nickname{
	float:right;
	text-align:center;
	line-height:65px;
	font-size:15px;
}
.header-form{
	display:inline;
}
@media only screen and (max-width: 1024px) {
.navigation {
	display:none;
}
.user-img{
	display:none;
}
.profile-nickname{
	display:none;
}
.dropimg {
	display:inline-block;
	float:left;
    background-color: #1C1C1C;
    cursor: pointer;
	height: 70px;
	width:auto;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropimg:hover {
    background-color: black;
}
.dropdown:hover .navigation{
	text-align:center;
	min-width: 160px;
	background-color: #1C1C1C;
	list-style:none;
	border: solid 3px #fff;
	border-top:none;
	display:inline-block;
}
.navigation li{
	float:none;
	height:100%;
	width:auto;
}
.navigation li a{
	padding-left:10px;
	padding-right:10px;
	display:block;
	color:white;
}
.navigation li a:hover{
	background-color:black;
}
.navigation li:hover > ul {
	margin-top:-70px;
	margin-left:160px;
	min-width:160px;
	display:block;
	float:right;
	border-top:solid 3px #fff;
}	
}
.locale{
	float:right;
	display:inline-block;
}
.locale a{
	color:white;
	outline:none;
	text-decoration: none;
	border:none;
}